/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #0082fb;
  --ifm-color-primary-darker: #007bed;
  --ifm-color-primary-darkest: #0065c3;
  --ifm-color-primary-light: #349dff;
  --ifm-color-primary-lighter: #42a4ff;
  --ifm-color-primary-lightest: #6cb8ff;
}

.docusaurus-highlight-code-line {
  background-color: rgba(8, 22, 39, 1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* html[data-theme="dark"] {
  --ifm-background-color: #0d1117;
  --ifm-navbar-background-color: #081627;
}

.footer {
  --ifm-footer-background-color: #081627;
} */
